<div class="body">
  <app-header  class="fixed-top"></app-header>

<br><br><br><br><br>

<div class="container">

  <div class="gauche">
    <h1>The online timetable, now available to everyone </h1>
    <h6>We have adapted the university's timetable, in order to make it available to one and all.</h6>
    <br>
    <div class="boutons">
      <button (click)="route('choice')" class="btn ">Get started</button>
      <button (click)="route('auth/signin')" class="btn" >Sigin</button>
      <button (click)="route('about')" class="btn" >About</button>
    </div>
    <hr>
  </div>

  <div class="droite">
    <div *ngIf="display==1">
      <div class="image">
        <button class="right btn" (click)="changeDisplay('previor')"><i class="bi bi-caret-left-fill"></i></button>
        <img src="../../assets/4.webp" alt="">
        <button class="right btn" (click)="changeDisplay('next')"><i class="bi bi-caret-right-fill"></i></button>
      </div>
      <div class="detail">
        <h5>Access your program</h5>
        <p> Click on<button class="btn " (click)="route('choice')" style="background-color:#051e34 ; color: white;">Get started</button> to access the most organized schedule</p>
      </div>
    </div>

    <div *ngIf="display==2">
      <div class="image">
        <button class="right btn" (click)="changeDisplay('previor')"><i class="bi bi-caret-left-fill"></i></button>
        <img src="../../assets/5.jpg" alt="">
        <button class="right btn" (click)="changeDisplay('next')"><i class="bi bi-caret-right-fill"></i></button>
      </div>
      <div class="detail">
        <h5>Schedule meetings</h5>
        <p> Schedule a  <strong style="color: black !important;">meet</strong> between you other people</p>
      </div>
    </div>

    <div *ngIf="display==3">
      <div class="image">
        <button class="right btn" (click)="changeDisplay('previor')"><i class="bi bi-caret-left-fill"></i></button>
        <img src="../../assets/3.jpg" alt="">
        <button class="right btn" (click)="changeDisplay('next')"><i class="bi bi-caret-right-fill"></i></button>
      </div>
      <div class="detail">
        <h5>Access your program</h5>
        <p> Click on <strong style="color: black !important;">Get start</strong> to access the most organized schedule</p>
      </div>
    </div>

  </div>

  <div class="plus">
    <a class="text-primary">Learn more about</a> <span class="un">MY</span><span class="deux">sheduler</span>
  </div>
</div>



</div>
