<div class="body">
  <div class="left">
    <br><br><br><br>
    <div> <button [ngClass]="{'active': choix==1}" (click)="choice(1)"  class="btn"><i class="bi bi-table"></i> </button> <hr></div>
    <div> <button [ngClass]="{'active': choix==2}" (click)="choice(2)" class="btn"><i class="bi bi-calendar-day"></i></button> <hr></div>
    <div> <button [ngClass]="{'active': choix==3}" (click)="choice(3)" class="btn"><i class="bi bi-megaphone"></i></button> <hr></div>
    <div> <button [ngClass]="{'active': choix==4}" (click)="choice(4)" class="btn"><i class="bi bi-file-spreadsheet"></i></button> <hr></div>
    <div> <button [ngClass]="{'active': choix==5}" (click)="choice(5)" class="btn"><i class="bi bi-person"></i></button> <hr></div>
    <div> <button [ngClass]="{'active': choix==6}" (click)="choice(6)" class="btn"><i class="bi bi-box-arrow-right"></i></button> <hr></div>
    <div> <button (click)="openNav()" class="btn"><i class="bi bi-caret-right"></i></button> </div>
  </div>
  <div id="mySidenav" class="sidenav">
    <br><br><br><br>
    <div> <button [ngClass]="{'active': choix==1}" (click)="choice(1)" class="btn"><i class="bi bi-table"></i> <span>Emploie de temps</span></button> <hr></div>
    <div> <button [ngClass]="{'active': choix==2}" (click)="choice(2)" class="btn"><i class="bi bi-calendar-day"></i> <span>Programmer un TD</span></button> <hr></div>
    <div> <button [ngClass]="{'active': choix==3}" (click)="choice(3)" class="btn"><i class="bi bi-megaphone"></i> <span>Passer un communiqué</span></button>  <hr></div>
    <div> <button [ngClass]="{'active': choix==4}" (click)="choice(4)" class="btn"><i class="bi bi-file-spreadsheet"></i> <span>Programme</span></button> <hr></div>
    <div> <button [ngClass]="{'active': choix==5}" (click)="choice(5)" class="btn"><i class="bi bi-person"></i> <span>Profil</span></button> <hr></div>
    <div> <button [ngClass]="{'active': choix==6}" (click)="choice(6)" class="btn"><i class="bi bi-box-arrow-right"></i> <span>logout</span></button> <hr></div>
    <div > <button (click)="closeNav()" class="btn close"><i class="bi bi-caret-left"></i></button> </div>
  </div>
  <div id="main" class="right">
    <nav class="navbar navbar-dark fixed-top   bg-purple">
      <div class="container-fluid">
        <span style="font-size:30px;cursor:pointer" (click)="openNav()">&#9776;</span>
        <a (click)="route('start')"><span class="navbar-brand brand mb-0 h1"><span class="un">MY</span><span class="deux">sheduler</span></span></a>
        <form class="d-flex">
          <button class="btn" (click)="choice(5)"><img style="border-radius: 100px;width: 50px;height: 50px;overflow: hidden;" width="30" src="../../assets/1.png" alt=""></button>
          <button class="btn"><i class="bi bi-bell"></i></button>
          <div></div>
      </form>
      </div>
    </nav>

<!-- Emploie de temp -->
    <div *ngIf="choix==1">
      <br><br><br><br>
      <div class="top">
        <div class="cont">
          <div class="title">
            <p>cours suivant</p>
          </div>
          <div class="detail">
            <p>INF3032</p> <span>9h-13h</span>
          </div>
        </div>

        <div class="cont">
          <div class="title">
            <p>Aujourdhui</p>
          </div>
          <div class="detail">
            <p><span class="spanright">INF3032</span> <span>9h-13h</span> </p>
            <p><span class="spanright">INF3032</span> <span>9h-13h</span> </p>
            <p><span class="spanright">INF3032</span> <span>9h-13h</span> </p>
            <p><span class="spanright">INF3032</span> <span>9h-13h</span> </p>
          </div>
        </div>

      </div>

      <div class="bottom" *ngIf="charge==true" >
        <table class=" table">
          <thead class="table-dark">
            <tr>
              <th scope="col">Jour</th>
              <th scope="col">Cours</th>
              <th scope="col">Heure</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let data of data" >
              <th scope="row">{{data.jour}}</th>
              <td >{{data.code_cours}}</td>
              <td >{{data.heure_debut}} - {{data.heure_fin}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <!-- profil  -->
    <div>
      <br><br><br>
    <div *ngIf="choix==5" class="profil">
      <div class="card">
        <div class="box">
            <div class="img">
                <img src="../../assets/1.png">
            </div>
            <h2>{{profil.prenom}} {{profil.nom}} <br><span>{{coteToGrade(profil.grade)}}</span></h2>
            <p>{{profil.id_enseignant}}</p>
            <p>{{profil.email}}</p>
            <span>
                <ul>
                    <li><a href="#"><i class="bi bi-facebook" aria-hidden="true"></i></a></li>
                    <li><a href="#"><i class="bi bi-twitter" aria-hidden="true"></i></a></li>
                    <li><a href="mailto:{{profil.email}}"><i class="bi bi-google" aria-hidden="true"></i></a></li>
                    <li><a href="#"><i class="bi bi-linkedin" aria-hidden="true"></i></a></li>
                    <li><a href="#"><i class="bi bi-instagram" aria-hidden="true"></i></a></li>
                </ul>
            </span>
        </div>
    </div>

    <div class="right ">
      <h3><span class="navbar-brand brand mb-0 h1"><span class="un">MY</span><span class="deux">sheduler</span></span></h3>
      <hr>
      <h3>Modifier son profil</h3>
      <br>

      <form  [formGroup]="profilForm" (ngSubmit)="onSubmit()">
        <div class="mb-3 row">
          <label for="inputPassword" class="col-sm-2 col-form-label">email:</label>
          <div class="col-sm-10">
            <input type="email" class="form-control" formControlName = "email">
          </div>
        </div>
        <div class="mb-3 row">
          <label for="inputPassword" class="col-sm-2 col-form-label">Pass: </label>
          <div class="col-sm-10">
            <input type="password" class="form-control" id="inputPassword" formControlName = "password">
          </div>
        </div>
        <button  data-bs-toggle="modal" data-bs-target="#exampleModal"  type="submit"  class="btn btn-modal " value="Log In" id="submit"   >Modifier</button>
      </form>
      </div>


    </div>
    </div>



  </div>
</div>
