.bg-purple{
  background: linear-gradient( #051e34 ,#051e34) !important;
  span{
      color: white;

      font-weight: bold;
  }
}

a{
  text-decoration: none;
}

.body{
  display: flex;
  .left{
    .band{
      font-family: 'Rubik Wet Paint', cursive;
      font-weight: bold;
      color: whitesmoke;
      font-size: 100%;
    }
    i{
      color: white;
    }
    text-align: center;
    background-color: #051e34;
    color: white;
    height: 100%;
    width: 60px;
    position: fixed;
    z-index: 0;
    top: 0;
    left: 0;
    padding: 10px;
  }


.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #051e34;
  overflow-x: hidden;
  transition: 0.5s;
  .container-fluid{
    padding-top: 10px;
    font-family: 'Rubik Wet Paint', cursive;
    font-weight: bold;
    color: whitesmoke;

    .un{
      font-size: 250%;
    }
    .deux{
      font-size: 150%;
    }
  }

  .close{
    position: absolute;
    right: 0;
  }
  .btn{
    color: white;
    span{
      margin-left: 20px;
    }
  }
  hr{
    color: aliceblue;;
  }
}





  .right{
    margin-left: 50px;
    width: 100%;
    transition: margin-left .5s;
    .btn{
      color: white;
    }
    form{
      i{
        font-size: 20px;
      }
      div{
        background-color: white;
        // width: 90%;
        // height: 40px;
        border-radius: 20px;
      }
    }
    .top{
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      margin: 25px;
      margin-left: 35px;
      .cont{
        border-radius: 15px;
        width: 300px;
        background-color: white;

        .title{
          background-color: #051e34;
          color: white;
          text-align: center;
          border-radius: 15px 15px 0 0;
          font-weight: bold;
          font-size: 20px;
        }
        .detail{
          text-align: center;
          .spanright{
            margin-right: 15px;
          }
        }
      }
    }
    .bottom{
      margin: 25px;
      background-color: white;
    }
  }
}

.conatain{

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  .gauche{
    // background-color: #051e34;
    h1{
      width: 500px;
    }
    h6{
      width: 350px;
      color: #030f19aa;
    }
    .boutons{
      .btn{
        color: white;
        background: linear-gradient( #051e34 ,#051e34) ;
        margin-right: 10px;
      }

    }

    hr{
      width: 60%;
    }

  }
  .droite{
    background-color: #051e34;
    border: 1px solid #1c3f5d53;
    border-radius: 20px;
    text-align: center;
    padding: 30px;
    width: 400px;

  }


}

.sheduler{

  .head{
    display: flex;
    justify-content: space-between;
    background-color: #051e34;
    // padding-top: 10px;
    width: 100%;
    button ,p {
      color: white;
    }
  }
  .head2{
    // justify-content: center;
    // align-items: center;
    text-align: center;
    background-color: #051e34;
    font-weight: bold;
    // padding-top: 10px;
    width: 100%;
    color: white;
    margin: 0;
  }

  .table{
    width: 100%;
    .centerCell{
      display: table-cell;
      vertical-align: middle;
      text-align: center;
    }
    .title{
      width: 100%;
    }
    .td , .col{
      height: 100px;
      p{
        margin: 0;
      }


    }
  }
}

.shedulerAdmin{

  .head{
    display: flex;
    justify-content: space-between;
    background-color: #051e34;
    // padding-top: 10px;
    width: 100%;
    button ,p {
      color: white;
    }
  }
  .head2{
    // justify-content: center;
    // align-items: center;
    text-align: center;
    background-color: #051e34;
    font-weight: bold;
    // padding-top: 10px;
    width: 100%;
    color: white;
    margin: 0;
  }

  .table{
    width: 100%;
    .centerCell{

      .btn{
        width: 100%;
        height: 100%;
        color: #070b0f;
      }
    }
    .center{
      display: table-cell;
      vertical-align: middle;
      text-align: center;
    }
    .title{
      width: 100%;
    }
    .td , .col{
      height: 100px;
      p{
        margin: 0;
      }


    }
  }
}

.active{
  background-color: #070b0f;
  border-radius: 15px;
}


//profil
.profil{
  width: 100%;
  // align-items: center;
  justify-content: center;
  padding: 50px;
  display: flex;
  flex-wrap: wrap;
.card {
  width:300px;
  min-height:400px;
  background:#fff;
  box-shadow:0 20px 50px rgba(0,0,0,.1);
  border-radius:10px;
  transition:0.5s;
}
.card:hover {
  box-shadow:0 30px 70px rgba(0,0,0,.2);
}
.card .box {
  position:absolute;
  top:50%;
  left:0;
  transform:translateY(-50%);
  text-align:center;
  padding:20px;
  box-sizing:border-box;
  width:100%;
}
.card .box .img {
  width:120px;
  height:120px;
  margin:0 auto;
  border-radius:50%;
  overflow:hidden;
}
.card .box .img img {
  width:100%;
  height:100%;
}
.card .box h2 {
  font-size:20px;
  color:#262626;
  margin:20px auto;
}
.card .box h2 span {
  font-size:14px;
  background:#051e34;
  color:#fff;
  display:inline-block;
  padding:4px 10px;
  border-radius:15px;
}
.card .box p {
  color:#262626;
}
.card .box span {
  display:inline-flex;
}
.card .box ul {
  margin:0;
  padding:0;
}
.card .box ul li {
  list-style:none;
  float:left;
}
.card .box ul li a {
  display:block;
  color:#aaa;
  margin:0 10px;
  font-size:20px;
  transition:0.5s;
  text-align:center;
}
.card .box ul li:hover a {
  color:#051e34;
  transform:rotateY(360deg);
}

.right{
  width: 450px;
  border: 1px solid #1c3f5d53;
  border-radius: 20px;
  text-align: center;
  padding: 30px;
  background-color: white;

  h3{
    color: #1c3f5d;
   span{
    color: #1c3f5d ;
   }
  }
 form{
   .row{
     width: 80%;
   }
  button{
    color: white;
    background-color: #051e34;
  }
 }
  }
}

#submit1{
  color: white;
  background-color: #051e34;
}
#submit2{
  color: white;
  background-color: #051e34;
}
#submit3{
  color: white;
  background-color: #051e34;
}



.cont-modal{
  background-color: #ebe6f4;
  .head{
      display: flex;
      justify-content: space-between;
  }
  .content{
      width: 100%;
      text-align: center;
      padding-bottom: 20px;
      .spinner{
          color: #1c3f5d;
          width: 50px;
          height: 50px;
      }
      i{
          font-size: 60px;
      }
  }


}

.modifier{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  .addcours{
    padding: 20px;
    width: 450px;
    border-radius: 15px;
    background-color: #051e34;
    h1{
      color: white;
    }

    .content{

      text-align: center;
      padding-bottom: 20px;
      .cont{
        padding: 20px;
      }
      .spinner{
          color: #1c3f5d;
          width: 50px;
          height: 50px;
      }
      i{
          font-size: 60px;
      }
    }

  }

}
